@charset "UTF-8";
/*reseteo css*/ /*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*variables*/
/*variables*/
/*maps*/
/*mixins*/
/*estilos personalizados header*/
.header .navbar-expand-lg {
  padding: 35px 65px;
  font-family: "Dosis", sans-serif;
  background-color: #13131d;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 65px 20px 65px;
}
.header .navbar-expand-lg .container-fluid .logo {
  width: 150px;
}
.header .navbar-expand-lg .container-fluid .logo img {
  display: flex;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: auto;
}
.header .navbar-expand-lg .container-fluid .logo:hover {
  transform: scale(1.2);
}
.header .navbar-expand-lg .container-fluid .btn-botonPersonalizado {
  color: #2596be;
  background-color: #2596be;
}
.header .navbar-expand-lg .container-fluid .navbar-nav .nav-link {
  font-size: 1.2em;
  color: #2596be;
  align-items: right;
  list-style: none;
}
.header .navbar-expand-lg .container-fluid .navbar-nav .nav-link:hover {
  color: rgb(177, 168, 168);
  transform: scale(1);
}

/*estilos generales*/
main {
  /* Estilos generales para main */
  background: linear-gradient(#13131d, #2596be);
  color: #2596be;
  font-family: "Dosis", sans-serif;
  /*estilos para h1*/
  /*estilos para textos*/
  /*estilos h3s*/
}
main .titulo_h1 {
  color: #2596be;
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  align-items: center;
}
main p {
  color: #f1f1ee;
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
}
main .estilos_h3 {
  color: #fff8dc;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5em;
}

/*estilos main index*/
.mainIndex {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: "cajaImg cajaTextos" "cajaImg cajaTextos";
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 35px 65px;
}
.mainIndex .h1_index {
  font-size: 6em;
  justify-content: flex-start;
  align-items: center;
}
.mainIndex .h4_index {
  font-size: 30px;
  color: #fff8dc;
}
.mainIndex .cajaImg {
  grid-area: cajaImg;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainIndex .cajaImg img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.mainIndex #img_index {
  max-width: 100%;
  object-fit: contain;
}
.mainIndex .cajaTextos {
  grid-area: cajaTextos;
  justify-content: center;
  align-items: center;
}

/*Estilos pagina Sobre Mi*/
.mainSobreMi {
  display: flex;
  padding: 35px 65px;
  flex-direction: column;
  /*estilos acordeon*/
}
.mainSobreMi .cajaDiv2 {
  display: flex;
  margin: 30px 0px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: texto;
}
.mainSobreMi .cajaDiv2 .boton {
  padding: 5px 10px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Dosis", sans-serif;
  border-radius: 50px;
  background-color: rgb(243, 224, 52);
  margin: 10px;
  color: #13131d;
  cursor: pointer;
  align-self: center;
  border-color: #2596be;
  width: 35vw;
}
.mainSobreMi .cajaDiv2 .boton a {
  color: #13131d;
  text-decoration: none;
}
.mainSobreMi .cajaH1 {
  grid-area: h1;
}
.mainSobreMi section {
  padding-top: 35px;
  align-items: center;
  margin: 30px 0px 30px;
}
.mainSobreMi section .accordion-item, .mainSobreMi section .accordion-button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  background-color: #fff8dc;
  color: #13131d;
}
.mainSobreMi section .accordion-button {
  background-color: #13131d;
  color: #2596be;
}
.mainSobreMi section .containerBoton {
  display: flex;
  padding-top: 35px;
  justify-content: center;
}
.mainSobreMi section .containerBoton .boton {
  padding: 5px 10px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Dosis", sans-serif;
  border-radius: 50px;
  background-color: rgb(243, 224, 52);
  margin: 10px;
  color: #13131d;
  cursor: pointer;
  align-self: center;
  border-color: #2596be;
  width: 50vw;
}
.mainSobreMi section .containerBoton .boton a {
  color: #13131d;
  text-decoration: none;
}

/*estilos pagina desarrollador*/
.mainDesarrollador {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas: "titulo titulo titulo" "card1 card2 card3";
  padding: 35px 65px;
  /*esilos grales cards*/
  /*clases para grid area*/
}
.mainDesarrollador .card {
  position: relative;
  width: 20vw;
  height: 25vw;
  background-color: transparent;
  /*estilos frente cards*/
  /*estios cara trasera cards*/
}
.mainDesarrollador .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.mainDesarrollador .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.mainDesarrollador .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.mainDesarrollador .card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 8px 2.5px 20px #13131d;
}
.mainDesarrollador .card .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainDesarrollador .card .front h3 {
  position: absolute;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #2596be;
  background-color: black;
  text-align: center;
  z-index: 1;
  font-size: 30px;
  letter-spacing: 2px;
}
.mainDesarrollador .card .front p {
  font-size: 1em;
}
.mainDesarrollador .card .back {
  transform: perspective(600px) rotateY(180deg);
  padding: 15px;
  color: #2182a8;
  background-color: #13131d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px 0.5px 10px rgb(218, 231, 27);
}
.mainDesarrollador .card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.mainDesarrollador .cajaH1Desarrolador {
  grid-area: titulo;
}
.mainDesarrollador .card1 {
  grid-area: card1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.mainDesarrollador .card2 {
  grid-area: card2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.mainDesarrollador .card3 {
  grid-area: card3;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*estilos pagina musico*/
.mainMusico {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo" "grilla1 grilla1" "grilla3 grilla4" "grilla5 grilla6";
  padding: 35px 65px;
}
.mainMusico .titulo {
  grid-area: titulo;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainMusico .grilla1 {
  display: flex;
  flex-direction: column;
  grid-area: grilla1;
  align-items: center;
}
.mainMusico .grilla1 .estilos_h3 {
  align-self: start;
}
.mainMusico .grilla2 {
  grid-area: grilla2;
  padding-top: 10px;
}
.mainMusico .grilla3 {
  grid-area: grilla3;
}
.mainMusico .grilla4 {
  grid-area: grilla4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainMusico .grilla5 {
  grid-area: grilla5;
}
.mainMusico .grilla6 {
  grid-area: grilla6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*estilo página electricista*/
.mainElectricista {
  display: flex;
  height: max-content;
  flex-direction: column;
  padding: 35px 65px;
  justify-content: flex-start;
  font-size: larger;
}
.mainElectricista .sectionElectricista {
  justify-content: center;
  text-align: initial;
  padding-top: 30px;
}
.mainElectricista .sectionElectricista h2 {
  text-decoration: solid;
}
.mainElectricista .sectionElectricista .estilos_h3 {
  margin-bottom: 30gitpx;
}
.mainElectricista .sectionElectricista .carousel-inner .carousel-item img {
  object-fit: contain;
}
.mainElectricista .sectionElectricista .iconosClientesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 20px;
}
.mainElectricista .sectionElectricista .iconosClientesContainer .iconosClientes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.mainElectricista .sectionElectricista .iconosClientesContainer .iconosClientes img {
  width: 80px;
  height: 80px;
  margin: 5px;
  max-width: 100%;
}

/*estilos pagina contacto*/
.mainContacto {
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 35px 65px;
  grid-template-columns: 1fr 1fr;
  grid-row: 0.25 fr 1fr;
  grid-template-areas: "titulo titulo" "form map";
}
.mainContacto .containerTitulo {
  align-self: flex-start;
  padding: 2rem;
  margin-left: 0;
  grid-area: titulo;
}
.mainContacto .containerMap {
  grid-area: map;
  display: flex;
  align-items: center;
  margin-right: 35px;
  justify-content: flex-end;
}
.mainContacto .formularioContacto {
  grid-area: form;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
  color: #f1f1ee;
}
.mainContacto .formularioContacto .mb-3 {
  width: 35vw;
}
.mainContacto .contendorButton {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.mainContacto .contendorButton .botonForm {
  padding: 5px 10px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Dosis", sans-serif;
  border-radius: 50px;
  background-color: rgb(243, 224, 52);
  margin: 10px;
  color: #13131d;
  cursor: pointer;
  align-self: center;
  border-color: #2596be;
  width: 35vw;
}
.mainContacto .contendorButton .botonForm a {
  color: #13131d;
  text-decoration: none;
}

/*estilo footer*/
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #13131d;
  color: #2596be;
  padding: 35px 65px;
  font-size: 1rem;
}
.footer img {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 15px;
}
.footer div {
  width: 300px;
  flex-basis: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: smaller;
}
.footer div .iconosRedes {
  display: flex;
  text-decoration: none;
  flex-basis: 100%;
}
.footer div .iconosRedes a {
  text-decoration: none;
  align-items: center;
}
.footer div .botonSubir {
  padding: 5px 10px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Dosis", sans-serif;
  border-radius: 50px;
  background-color: rgb(243, 224, 52);
  margin: 10px;
  color: #13131d;
  cursor: pointer;
  align-self: center;
  border-color: #2596be;
}
.footer div .botonSubir a {
  color: #13131d;
  text-decoration: none;
}

/*media queries*/
/*medias para moviles*/
@media (max-width: 577px) {
  .header .navbar {
    padding: 20px;
  }
  .header .navbar-expand-lg .container-fluid {
    padding: 10px;
  }
  .header .navbar-expand-lg .container-fluid .logo {
    width: 100px;
  }
  .header .navbar-expand-lg .container-fluid .logo img {
    width: 80px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mainSobreMi {
    text-align: center;
  }
  .mainContacto {
    display: flex;
    flex-direction: column;
  }
  .mainContacto .containerMap {
    display: none;
  }
  .mainElectricista {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer {
    padding: 15px;
  }
}
/*medias para tablets*/
@media (max-width: 885px) {
  .mainMusico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
  .mainMusico .titulo {
    align-self: center;
  }
  .mainMusico .grilla1 .estilos_h3 {
    align-self: center;
  }
  .mainContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .mainContacto .containerTitulo {
    align-self: auto;
  }
  .mainSobreMi {
    text-align: center;
  }
  .mainSobreMi .cajaDiv2 {
    height: auto;
  }
  .header .navbar-nav {
    justify-content: flex-start;
    padding: 15px;
  }
  .mainDesarrollador {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainDesarrollador .card {
    width: 300px;
    height: 400px;
  }
  .mainElectricista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainIndex {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cajaTextos" "cajaImg";
    gap: 1rem;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
  .mainIndex .h1_index {
    font-size: 3em;
  }
  .footer {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    background-color: rgb(19, 19, 29);
    color: rgb(37, 150, 190);
  }
  .footer .copy {
    justify-content: center;
  }
  .footer .iconosRedes {
    justify-content: center;
  }
}
/* dispositivos de escritorio */
@media (min-width: 577px) {
  .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer div {
    flex-basis: auto;
  }
  .mainSobreMi {
    height: calc(100vh - 100px);
    overflow-y: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
