/*medias para moviles*/
@media (max-width: 577px){
    
    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .mainSobreMi{
        text-align: center;
        .cajaDiv2{
            height: auto;
        }
    }
    .mainContacto{
        display: flex;
        flex-direction: column;
    }
    }
/*medias para tablets*/
@media (max-width: 885px){
    .mainMusico{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .mainContacto{
        display: flex;
        flex-direction: column;
    }
    .mainSobreMi{
        text-align: center;
        .cajaDiv2{
            height: auto;
        }
    }
    .header{
        .navbar-nav{
            justify-content: flex-start;
            }
    }
    .mainDesarrollador{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainIndex {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "cajaTextos"
        "cajaImg";
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        height: auto;
        .h1_index{
            font-size: 3em;
        }
    }
    .footer {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        background-color: rgb(19, 19, 29);
        color: rgb(37, 150, 190);
        .copy {
            justify-content: center;
        }
        .iconosRedes {
            justify-content: center;
            }
    }
}
/* dispositivos de escritorio */
@media (min-width: 577px) {
    .footer {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .footer div {
        flex-basis: auto;
    }
    .mainSobreMi {
        height: calc(100vh - 100px); 
        overflow-y: auto; 
    }
}