
@mixin estilo_h1(){
    color: $color-primario-claro;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    align-items: center;
    padding: 2rem;
}  
@mixin estilo_textos{
    color: $color-textos;
    font-family: "Dosis", sans-serif;
    font-size: 1.5em;
}
@mixin estilos_h3{
    color: $color-fuente-main;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    padding-left: 30px;
}
@mixin boton{
            padding: 5px 10px;
            font-size: medium;
            font-weight: bolder;
            font-family:"Dosis", sans-serif;
            border-radius: 50px;
            background-color: rgb(243, 224, 52);
            margin: 10px;
            color: $color-primario-oscuro;
            cursor: pointer;
            align-self: center;
            border-color: $color-primario-claro;
            & a {
                color: $color-primario-oscuro;
                text-decoration: none;
            }
}