$paleta_colores:(
color-primario-oscuro: #13131d,
color-primario-claro: #2596be,
color-textos: #f1f1ee,
color-primario-intermedio: #1f1f64,
color-fuente-main:#fff8dc,
color-hover-nav: rgb(177, 168, 168),
color-bordes-destacados: rgb(218, 231, 27),
);
