.footer {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:map-get($paleta_colores , color-primario-oscuro);
    color: map-get($paleta_colores , color-primario-claro );
    padding: $padding;
    font-size: 1rem;
    img{
        box-sizing: border-box;
        width: 60px;
        height: 60px; 
        border-radius: 50%;
        padding: 15px;
    }
    div {
        width: 300px;
        flex-basis: 100%;
        display: flex;
        justify-items: center ;
        justify-content: center;
        font-size: smaller;     
        .iconosRedes {
            display: flex;
            text-decoration: none;
            flex-basis: 100%;
                & a{
                    text-decoration: none;
                    align-items: center;
                }
        }
        .botonSubir {
                @include boton;
        }
    }
}