.header{
    .navbar-expand-lg{
        padding: $padding;
        font-family: 'Dosis', sans-serif;
        background-color: map-get($paleta_colores, color-primario-oscuro );
        justify-content: flex-end;
        align-items: center;
        padding: 20px 65px 20px 65px;
        .container-fluid{
            .logo{
                width: 150px;
                img {
                    display: flex;
                    max-width: 100%;
                    cursor:pointer;
                    transition: all 0.3s;
                    margin-right: auto;
                }
                &:hover {
                    transform: scale(1.2);
                }
            }
            .btn-botonPersonalizado{
                color: map-get($paleta_colores , color-primario-claro );
                background-color: map-get($paleta_colores , color-primario-claro );
            }
            .navbar-nav {
                .nav-link {
                    font-size: 1.2em;
                    color: map-get($paleta_colores , color-primario-claro );
                    align-items: right;
                    list-style: none;
                    &:hover {
                        color: map-get($paleta_colores, color-hover-nav);
                        transform: scale(1);
                    }     
                }
            }        
        }
    }
}