.mainContacto{
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: $padding;
    grid-template-columns: 1fr 1fr;
    grid-row: 0.25 fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "form map";
    
    .containerTitulo{
        align-self: flex-start;
        padding: 2rem;
        margin-left: 0;
        grid-area: titulo;
    }
    .containerMap{
        grid-area: map;
        display: flex;
        align-items: center;
        margin-right: 35px;
        justify-content:flex-end;
        
    }
    .formularioContacto{
        grid-area: form;
        display: flex;
        align-items: center;
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2em;
        color: map-get($paleta_colores, color-textos);
        .mb-3{
            width: 35vw;
        }
    }

    .contendorButton{
       display: flex;
       align-items: center;
       margin-top: 20px;
       .botonForm{
            @include boton;
            width: 35vw;
        }      
    }        
}
