.mainContacto{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .containerTitulo{
        align-self: flex-start;
        padding: 2em;
        margin-left: 0;
    }
    .formularioContacto{
        display: flex;
        flex-direction: column;
        max-width: 70vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
        color: $color-textos;

        .contendorButton{
            display: flex;
            align-items: center;
            margin-top: 20px;
            .botonForm{
                @include boton;
            }      
        }
        
    }
}