/*reseteo css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*estilos personalizados header*/
.logo{
    width: 150px;
}
.logo img {
    display: flex;
    max-width: 100%;
    cursor:pointer;
    transition: all 0.3s;
    align-items: center;
    margin-right: auto;
}
.logo img:hover {
    transform: scale(1.2);
}
/* Cambio el color por default */
.navbar-nav .nav-link {
    color: #2596be; 
}
/* Cambia el color de fondo del navbar según tus preferencias */
.navbar-nav .navbar-customizado{
    display: flex;
    background-color: #13131d; 
    justify-content: right;
    align-items: flex-end;
}
.btn-botonPersonalizado{
    color: #2596be;
    background-color: #2596be;
}
/*hover y posicionamiento para elementos de lista*/
.navbar-nav.nav-link{
    justify-content: flex-end;
    align-items: right;
    list-style: none;
}
.navbar-nav .nav-link:hover {
    display: flex;
    color: rgb(177, 168, 168);
    transform: scale(1);
}
/*estilos main */
main{
    background: linear-gradient(rgb(182, 233, 253), #2596be);
    color: rgb(31, 31, 100);
    font-family: 'Dosis', sans-serif;    
}
/*estilos main index*/
.mainIndex{
    display: grid;
    grid-template-columns:2fr 3fr;
    grid-template-rows:2fr 3fr;
    grid-template-areas: 
    "cajaImg cajaTextos"
    "cajaImg cajaTextos";
    height: 100vh;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;  
}
.h1_index {
    font-size: 8em;
    justify-content:flex-start;
    align-items: center;
}
.h4_index {
    font-size: 30px;
    color:cornsilk;
}
.cajaImg {
    grid-area: cajaImg;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cajaImg img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#img_index{
    max-width: 100%;
    object-fit: contain;
    /* height: 10px; */
}
.cajaTextos{
    grid-area: cajaTextos;
    justify-content: center;
    align-items: center;
}
/*estilo footer*/
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 19, 29);
    color: rgb(37, 150, 190);
    padding: 20px;
    font-size: 15px;
}
.footer div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.copy {
    font-size: small;
    text-align: center; 
}
.iconosRedes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-basis: 100%;
}
.iconosRedes a{
    text-decoration: none;
    align-items: center;
    justify-items: center;
    margin: 10px;
    padding: 10px;
}
.footer img{
    width: 25px;
    height: 25px; 
    border-radius: 50%;
}
.botonSubir {
    padding: 5px 10px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    border-radius: 50px;
    background-color: rgb(243, 224, 52);
    margin: 10px;
    cursor: pointer;
    align-self: center;
}
.botonSubir a {
    color: #2f6175;
    text-decoration: none;
}
/*Estilos pagina Sobre Mi*/
.mainSobreMi{
    padding: 20px;
    height: 100vh;
}
/*estilos pagina desarrollador*/
/*posicionamiento elementos*/
.mainDesarrollador{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    ". card1 card2 card3";
    padding: auto;
}
.cajaH1Desarrolador{
    grid-area: titulo;
    justify-content: center;
    padding: 2em;
    margin-top: 2em;
}
.card1{
    grid-area: card1;
    margin-top: 6em;
}
.card2{
    grid-area: card2;
    margin-top: 6em;
}
.card3{
    grid-area: card3;
    margin-top: 6em;
}
/*estilos elementos pagina desarrollador*/
.card{
    position: relative;
    width: 250px;
    height: 350px;
    padding: 0px;
    margin: 15px;
    background-color:transparent
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 5px 1.5px 15px  rgb(20, 20, 19);
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.card .front h3{
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #2596be;
    background-color: #13131d;
    text-align: center;
    z-index: 1;
    font-size: 30px;
    letter-spacing: 2px;
}
.card .back{
    transform: perspective(600px)rotateY(180deg);
    padding: 15px;
    color:#2182a8;
    background-color: #13131d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 0.5px 10px  rgb(218, 231, 27);
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    margin-bottom: 45px;
    justify-content: center;
    letter-spacing: 1px;
}
.card:hover .front{
transform: perspective(600px) rotateY(180deg);}
.card:hover .back{
transform: perspective(600px) rotateY(360deg);
}
/*estilos pagina musico*/
.mainMusico{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "grilla1 grilla2"
    "grilla3 grilla4"
    "grilla5 grilla6";
    gap: 35px;
    padding: 40px;
}
.titulo{
    grid-area: titulo;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-size: xx-large;
    font-weight: bolder ;
    margin-bottom: 20px;
}
.grilla1{
    grid-area: grilla1;
    align-items: center;
    justify-content: center;
}
.grilla2{
    grid-area: grilla2;
    align-items: center;
    justify-content: center;
}
.grilla3{
    grid-area: grilla3;
    align-items: center;
    justify-content: center;
}
.grilla4{
    grid-area: grilla4;
    align-items: center;
    justify-content: center;
}
.grilla5{
    grid-area: grilla5;
    align-items: center;
    justify-content: center;
}
.grilla6{
    grid-area: grilla6;
    align-items: center;
    justify-content: center;
}
/*estilo página electricista*/
.mainElectricista{
    display: flex;
    height: max-content;
    flex-direction: column;
    padding: 25px;
    justify-content: flex-start;
    font-size: larger;
}
    .sectionElectricista{
        justify-content: center;
        text-align: center;
        margin: 15px;
        padding: 15px;
    }
    .sectionElectricista h2{
        padding: 15px;
        text-decoration: solid;
    }
.iconosClientesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.iconosClientes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.iconosClientes img {
        width: 80px;
        height: 80px;
        margin: 5px;
        max-width: 100%;
    } 
/*estilos pagina contacto*/
.mainContacto{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formularioContacto{
    max-width: 70vh;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.containerTitulo{
    align-self: flex-start;
    padding: 2em;
    margin-left: 0;
}
.containerTitulo h1{
    font-size: xx-large;
    font-weight: bolder;
}
.titulo_h1{
    font-size: xx-large;
    font-weight: bolder;
}

.botonForm{
    padding: 5px 10px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    border-radius: 50px;
    background-color: rgb(243, 224, 52);
    margin: 10px;
    cursor: pointer;
    align-self: center;
}

/*media queries*/

@media (max-width: 577px){
    .mainMusico{
        display: flex;
        flex-direction: column;
    }
    main {
    display: flex;
    flex-direction: column;
    }
    
    .footer {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        background-color: rgb(19, 19, 29);
        color: rgb(37, 150, 190);
    }
    .copy {
        justify-content: center;
    }
    .iconosRedes {
        justify-content: center;
        }
}
@media (max-width: 885px){
    .mainDesarrollador{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainIndex {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "cajaTextos"
        "cajaImg";
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}
/* Estilos para dispositivos de escritorio */
@media (min-width: 577px) {
    .footer {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .footer div {
        flex-basis: auto;
    }
}
